  .taxonomyForTaxonomyReport{
      margin: 15px;
  }
    .taxonomyForLocalReport{
      margin: 15px;
  }
     
.txstext{
        padding:10px;
    }
      
     body{
    font-family:Arial;
    font-size:14px;

    }

     .k-confirm{
         text-align:center;
         font-weight: bold;
     }

      
 
 