.k-dialog .k-dialog-titlebar .k-dialog-title {
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    h2 {
        font-size: 25pt;
    }
}


/* New font */
@font-face {
    font-family: 'demos';
    src: url('fonts/demos.eot?9wdv67');
    src: url('fonts/demos.eot?#iefix9wdv67') format('embedded-opentype'), url('fonts/demos.woff?9wdv67') format('woff'), url('fonts/demos.ttf?9wdv67') format('truetype'), url('fonts/demos.svg?9wdv67#demos') format('svg');
    font-weight: normal;
    font-style: normal;
}


body, h1, h2, h3, h4, p, ul, li, a, button, .main-nav, .kendo-nav, #banner p, .browsers, #nav-pager, #examples-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #fff;
    color: #555;
    font: 400 12px Arial, Helvetica, sans-serif;
    position: relative;
}

body,
html {
    min-height: 100%;
}

img {
    border: 0;
}

a,
li > a,
h2 > a,
h3 > a,
a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*global*/
.floatWrap:after, #example:after {
    content: "";
    display: block;
    clear: both;
}

.floatWrap, #example {
    display: inline-block;
}

.floatWrap, #example {
    display: block;
}

.clear {
    clear: both;
}

html {
    height: 100%;
}

#header, .suite-demos-nav, .demos-nav,
#footer, .centerWrap, .submenu-box a {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #0487c4;
}

    a:hover {
        text-decoration: underline;
    }


.green {
    color: green;
}

.red {
    color: red;
}

.imageContainer {
    background-repeat: no-repeat;
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
   
 
}

.imageContainer div{ 
      display: block;
    margin: auto; 
}
.imageContainer span{ 
    display: block;
    text-align: center;
}

.bubble1 { 
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    box-shadow: inset 3px 3px 30px 6px #F2483E;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    line-height: 55pt;
}

.bubble2 { 
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    box-shadow: inset 3px 3px 30px 6px #2AABD9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 38pt;
}

.bubble3 { 
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    box-shadow: inset 3px 3px 30px 6px #FF4E46;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 38pt;
}

.bubble4 { 
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    box-shadow: inset 2px 2px 15px 3px #FF4E46;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25pt;
}

.bubble5 { 
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    box-shadow: inset 2px 2px 15px 3px #2AABD9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25pt;
}
.star {
    background-image: url(../Images/star.PNG);
 
    line-height: 25pt;
    height: 69px;
    width: 71px;
}

 

#bubblesgrid {
    text-align: center;
}
